# Dependencies
node_modules/
smartbiz/node_modules/
smartbiz/build/

# IDE/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System/OS
.DS_Store
Thumbs.db

# Environment/API keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
