# Copy this file to .env and configure your Nodemailer & Database credentials
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/stores?retryWrites=true&w=majority
